@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@include placeholder {
    font-style:italic;
    color: lightgray;
    font-weight:100;
}

#header .contact ul.icons {
  background: none;
}

article.special {
  font-size: 1.25em;
  margin-left: auto;
  margin-right: auto;
  max-width: 66ex; // for better readability
  line-height: 1.4em;
  .summary {
    background-color: lightgray;
    padding: 0.75em;
  }
  section:first-of-type {
    margin-top: -1em;
  }
  section {
    margin-bottom: 2em;
  }
  p + ol, p + ul {
    margin-top: -0.75em;
  }
  ol {
    list-style: decimal;
    margin-left: 2em;
  }
  ul {
    list-style: circle;
    margin-left: 2em;
  }
  img {
    width: 100%;
  }
  & > header {
    padding-bottom: 1em;
    & > h2 {
      border-bottom: 1px solid black;
    }
    & > .subheadline {
      display: block;
      font-size: 1.5em;
      margin: 0;
      line-height: 1.2em;
      padding-bottom: 0.5em;
      text-align: inherit;
    }
    & > .author {
      font-style: italic;
    }
  }
  .big {
    font-size: 1.25em;
  }
  pre code {
    margin: 0.5em 0 1.5em 0;
    box-shadow: 0 0 25px lightgrey;
    font-size: 0.70em;
  }
  code {
    font-family: Courier, mono;
    font-size: 0.75em;
  }
}

.posts-list {
  font-size: 1.5em;
  > li {
    margin-bottom: 1.0em;
  }
}

#mc_embed_signup {
  padding: 20px;
  background-color: grey;
  border: 1px solid grey;
  header {
    margin-bottom: 1.5em;
  }
  div {
    margin-bottom: 0.5em;
  }
  strong {
    color: lightgray;
  }
  h2 {
    color: white;
    line-height: 1.0em;
    margin-bottom: 0.25em;
  }
  .clear {
    width: 100%;
  }
  input[type="email"] {
    border-radius: 0;
    height: 2.50em;
    margin-bottom: 1.0em;
  }
  input[type="submit"] {
    padding-left: 1.0em;
    padding-right: 1.0em;
    text-align: left;
    border-radius: 0;
    line-height: 1.5em;
    display: block;
    font-size: 1.0em;
    font-weight: bold;
    white-space: normal;
    max-width: 90%;
  }
}
