<form id="contact-form" method="post" action="/contact">
  <div class="row">
    <div class="6u 12u(3)">
      <input type="text" name="name" placeholder="Name" />
    </div>
    <div class="6u 12u(3)">
      <input type="email" name="email" placeholder="Email" />
    </div>
  </div>
  <div class="row">
    <div class="12u">
      <textarea name="message" placeholder="Message" rows="6"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="12u">
      <ul class="actions">
        <li><input id="contact-send" type="submit" value="Send Message" /></li>
      </ul>
    </div>
  </div>
</form>
