{% extends "base.html" %}

{% block header %}
<div id="header">

  <!-- Inner -->
  {% if header-title %}
  <div class="inner">
    <header>
      <h1><a href="index.html" id="logo">{{header-title}}</a></h1>
    </header>
  </div>
  {% endif %}

  {% include "nav.html" %}
</div>
{% endblock %}

{% block content %}
<div class="wrapper style1">

  <div class="container">
    <div class="row 200%">
      <div class="12u" id="content">
        <ul class="posts-list">
          {% for post in posts %}
          <li>
            <span class="post-meta">{{ post.date|date:"MMM d, YYYY" }}</span>
            <h3><a href="/blog/{{ post.id }}">{{post.title}}</a></h3>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block footer %}
{% endblock %}
