{% extends "base.html" %}

{% block header %}
<!-- Header -->
<div id="header">

  <!-- Inner -->
  <div class="inner">
    <header>
      <h1>{{ hero-title|safe }}</h1>
    </header>
    <section class="contact">
      <ul class="icons">
        <li><a href="https://twitter.com/cpclermont" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="mailto:charles@cpclermont.com" class="icon fa-paper-plane-o"><span class="label">Email</span></a></li>
        <li><a href="https://ca.linkedin.com/in/cpclermont" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
        <li><a href="https://github.com/charlespwd" class="icon fa-github"><span class="label">Github</span></a></li>
      </ul>
    </section>
  </div>

  {% include "nav.html" %}
</div>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
{% endblock %}
